* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    // background-color: black;
    // color: #FFF;
}
:root{
    --primart-color: #FF385C
}
.shadow-box{
    transition: box-shadow 500ms ease;
    &:hover{
        box-shadow: 0 2px 4px rgb(0, 0, 0, 0.8);
    }
}
.pointer-box{
    cursor: pointer;
}